expecttest
peft
xlsxwriter
termcolor
tabulate
tiktoken
matplotlib
datasets
einops
pybind11
tensorboardX
pyarrow
transformers==4.48.3
deepspeed
accelerate>=1.1.1
timm
flask
flask_restful
decord
natsort
# setuptools==69.5.1
setuptools
rich

# cosyvoice2
pyworld
evaluate
hyperpyyaml
diffusers
conformer
hydra-core
lightning
gdown
wget
funasr
zhconv
jiwer
zhon
WeTextProcessing
inflect
openai-whisper
onnxruntime
modelscope
word2number

